body {
  background-image: url("image/poke.jpg"); /* Image de fond */
}
.primary {
  color: #3e3c3c; /* Couleur du texte */
  font-size: 24px; /* Taille de la police */
  line-height: 30px; /*hauteur de la ligne*/
  font-weight: 600; /*épaisseur du text*/
  text-align: center;/* Alignement horizontal */
  font-family: cursive; /* Police d'écriture */
}
.secondary {
  color: #2c2424; /* Couleur du texte */
  font-size: 16px; /* Taille de la police */
  line-height: 20px; /*hauteur de la ligne*/
  text-align: center;/* Alignement horizontal */
  font-family: serif; /* Police d'écriture */
}
table {
  position: absolute; /*positionnement absolue*/
  top: 50%; /*positionnement vertical*/
  left: 50%; /*positionnement horizontale*/
  transform: translate(-50%, -50%); /* l'élément doit être déplacé de 50% de sa largeur vers la gauche et de 50% de sa hauteur vers le haut, ce qui le positionne exactement au centre*/
  border: 2px solid green; /*bordure*/
  border-radius: 18px; /* arrondis des coins*/
  box-shadow: 0 0 200px 4px #78cf7b; /*ombre*/
  width: 40%; /*largeur*/
  margin: auto; /*centrement; comment on le centre*/
  font-family: cursive; /* Police d'écriture */
}

th {
  background-image: url("image/poke3.jpg"); /* Image de fond */
  border-radius: 10px; /* arrondis des coins*/
  background-position: top; /*position du fond de l'image ici*/
  color: #3e3c3c; /* Couleur du texte */
  font-size: 18px; /* Taille de la police */
  padding: 10px; /* Espacement interne */
  margin: auto; /*centrement; comment on le centre*/
}

.formulaire {
  margin: 10px; /*centrement; comment on le centre*/
  text-align: left; /* Alignement horizontal */
}

input[type="text"] {
  border: 1px solid #000000; /*bordure*/
  border-radius: 4px; /* arrondiss des coins*/
  box-sizing: border-box; /*taille de la box*/
  padding: 10px; /* Espacement interne */
  width: 100%; /*largeur*/
}
input[type="password"] {
  border: 1px solid #000000; /*bordure*/
  border-radius: 4px; /*arrondis des coins*/
  box-sizing: border-box; /*taille de la box*/
  padding: 10px; /* Espacement interne */
  width: 100%; /*largeur*/
}

input[type="submit"] {
  background-color: #4caf50; /* Couleur du fond texte */
  border: none; /* pas de bordure*/
  color: #fff; /* Couleur du texte */
  cursor: pointer; /* changement de curseur quand on le passe dessus*/
  font-size: 16px; /* Taille de la police */
  padding: 10px; /* Espacement interne */
  width: 100%; /*largeur*/
}

.erreur {
  color: red; /* Couleur du texte */
  font-weight: bold; /*épaisseur du text*/
  margin: 10px; /*centrement; comment on le centre*/
}

img.home {
  position: absolute; /* positionnement absolue*/
  height: 50px; /*taille du bouton home */
}

