header {
  text-align: center;  /* Alignement horizontal */
  background-image: url(image/liane.png); /* image de fond*/
  color: lawngreen; /* Couleur du texte */
  background-position-y: -28px; /*positionnement verticale*/
  border: solid; /* Bordure du tableau */
  border-radius: 20px; /* arrondis des coins*/
  height: 100px; /*taille*/
}

header h1 {
  font-family: serif; /* Police d'écriture */
  font-size: 50px; /* Taille de la police */
  top: -12px; /*positionnement verticale*/
  position: relative; /*positionnement relatif*/
}

.home {
  float: left; /*positionnement*/
  position: absolute; /*positionnement absolue*/
  top: 15px; /*positionnement verticale*/
  height: 55px; /*taille*/
}

.profile {
  float: right; /*positionnement*/
  position: relative;/*positionnement relatif*/
  top: -11px; /*positionnement verticale*/
  text-align: center; /* Alignement horizontal */
}

.titre {
  text-align: center; /* Alignement horizontal */
  display: inline-block; /*type d'affichage*/
}

body {
  background-image: url("image/grassass.jpg"); /* image de fond*/
  background-position: center; /* position de l'image*/
  min-height: 100vh; /*taille minimum*/
  background-repeat: no-repeat; /*pour que le fond ne se répète pas*/
  background-attachment: fixed;  /*image du fond fixe*/
  background-size: cover; /* dimension du fond*/
}

input {
  width: 176px; /*largeur*/
  padding: 10px; /* Espacement interne */
  border: none; /* Bordure du tableau */
  border-radius: 20px; /* arrondis des coins*/
  background-color: #f2f2f2; /* Couleur du fond */
  position: relative; /*positionnement relatif*/
  left: 37%; /* positionnement horizontale*/
}

button {
  background-color: #4caf50; /* Couleur du fond */
  border: none;  /* Bordure du tableau */
  color: white; /* Couleur du texte */
  padding: 2px 37px; /* Espacement interne */
  text-align: center; /* Alignement horizontal */
  text-decoration: none; /*décoration du texte*/
  display: inline-block; /* type d'affichage*/
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /*centrement, comment il est centrer*/
  cursor: pointer; /* changement du curseur quand on passe sur le bouton*/
  border-radius: 20px; /* arrondis des coins*/
  position: relative; /*positionnement relatif*/
  left: -1.5%; /* positionnement horizontale*/
}

.profile a {
  color: lawngreen; /* Couleur du texte */
  font-family: serif; /* Police d'écriture */
  display: grid; /* type d'affichage*/
  top: -5px; /*positionnement verticale*/
  position: relative; /*positionnement relatif*/
  left: -19px; /* positionnement horizontale*/
}

a{
  text-decoration: none; /* décoration du texte*/
}

button:hover {
  background-color: rgb(104, 104, 104); /* Couleur du fond */
  transition: 0.7s; /* transition de la couleur */
}

table {
  border: solid; /* Bordure du tableau */
  background-color: #418f5d; /* Couleur du fond*/
  width: 100%; /*largeur*/
  border-radius: 20px; /* arrondis des coins*/
}

.buttons {
  position: relative; /*positionnement relatif*/ 
  left: 0%; /* positionnement horizontale*/
  height: 38px; /*taille*/
}

input[type="text"] {
  position: relative; /*positionnement relatif*/
  left: 0%; /* positionnement horizontale*/
}

.comment tr:nth-child(odd) {
  background-color: #008732; /* Couleur du fond*/
}

.comment tr:nth-child(even) {
  background-color: #65c689; /* Couleur du fond */
}

.user {
  left: -0.5%; /* positionnement horizontale*/
  position: absolute; /*positionnement absolue*/
  top: -62%; /*positionnement verticale*/
}

.text {
  position: absolute; /*positionnement absolue*/
  left: 41.5%; /* positionnement horizontale*/
  top: 42%; /*positionnement verticale*/
}

a.user {
  position: relative; /*positionnement relatif*/
  top: -112px; /*positionnement verticale*/
  left: 206px; /* positionnement horizontale*/
}

button[name="like"] {
  position: relative; /*positionnement relatif*/
  top: 57px; /*positionnement verticale*/
  left: 204px; /* positionnement horizontale*/
}

button[name="unlike"] {
  position: relative; /*positionnement relatif*/
  top: 48px; /*positionnement verticale*/
  left: 204px; /* positionnement horizontale*/
}

button[name="signal"] {
  position: relative; /*positionnement relatif*/
  top: -150px; /*positionnement verticale*/
  left: 604px; /* positionnement horizontale*/
}

h1.description {
  position: relative; /*positionnement relatif*/
  left: 209px; /* positionnement horizontale*/
  top: -105px; /*positionnement verticale*/
  font-size: 15px; /* Taille de la police */
}

p.like {
  position: absolute; /*positionnement absolue*/
  left: 258px; /* positionnement horizontale*/
  top: 151px; /*positionnement verticale*/
}

button[name="delete"] {
  position: relative;
  top: -150px; /*positionnement verticale*/
  left: 604px; /* positionnement horizontale*/
}

button[name="DeleteCom"] {
  position: relative; /*positionnement relatif*/
  left: -4px; /* positionnement horizontale*/
}
