header {
  text-align: center; /* Alignement horizontal */
  background-image: url(image/liane.png); /* Image de fond */
  color: lawngreen; /* Couleur du texte */
  background-position-y: -28px; /*position vertical*/
  border: solid; /* Bordure du tableau */
  border-radius: 20px;  /* Arrondi des coins */
  height: 100px; /* taille */
}

header h1 {
  font-family: serif; /* Police d'écriture */
  font-size: 50px;/* Taille de la police */
  top: -12px; /* Position verticale */
  position: relative; /* Positionnement relatif */
}

.home {
  float: left; /* Position */
  position: absolute; /* Positionnement absolu */
  top: 15px; /* Position verticale */
  height: 55px; /* taille */
}

.profile {
  float: right; /* Position */
  position: relative; /* Positionnement relatif*/
  top: -11px; /* Position verticale */
  text-align: center; /* Alignement horizontal */
}

.titre {
  text-align: center; /* Alignement horizontal */
  display: inline-block; /* Affichage en bloc*/
}

body {
  background-image: url("image/grassass.jpg");
  background-position: center; /* position du fond*/
  min-height: 100vh; /* taille minimum */
  background-repeat: no-repeat; /*pour que le fond ne se répète pas*/
  background-attachment: fixed; /*image du fond fixe*/
  background-size: cover;  /* dimension du fond*/
}

button {
  background-color: #4caf50; /* Couleur du fond */
  border: none; /* Bordure du tableau */
  color: white; /* Couleur du texte */
  padding: 2px 37px; /* Espacement interne */
  text-align: center; /* Alignement horizontal */
  text-decoration: none; /*décoration du texte*/
  display: inline-block; /* Type affichage */
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /* comment on le centre*/
  cursor: pointer; /*changement du curseur lorsqu'il y est sur le bouton*/
  border-radius: 20px;  /* Arrondi des coins */
  position: relative; /* Positionnement relatif */
  left: 36.5%; /*position*/
}

.profile a {
  color: lawngreen; /* Couleur du texte */
  font-family: serif; /* Police d'écriture */
  display: grid; /* Type affichage */
  top: -5px; /* Position verticale */
  position: relative; /* Positionnement relatif */
  left: -19px; /*position*/
}

button:hover {
  background-color: rgb(104, 104, 104); /* Couleur du fond */
  transition: 0.7s; /*temps de transition du bouton*/
}

h1 {
  color: chartreuse; /* Couleur du texte */
}

table {
  border: solid; /* Bordure du tableau */
  background-color: #418f5d; /* Couleur du fond */
  width: 100%; /*largeur*/
  border-radius: 20px;  /* Arrondi des coins */
}

.text {
  position: absolute; /* Positionnement absolu */
  left: 58.5%; /*position*/
  top: 23%; /* Position verticale */
}

h1.description {
  position: absolute; /* Positionnement absolu */
  top: 119px; /* Position verticale */
  font-size: 15px; /* Taille de la police */
}

button[name="unsignal"] {
  position: relative; /* Positionnement relatif */
  left: 476px; /*position*/
}
